.camping_list_wrapper h1 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 30px;
}
.camping_list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}
