.chat_list_wrapper .title {
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 20px;
}
.chat_list_form {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
}
.chat_list_form input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
}
.chat_list_form button {
  width: 200px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #ff7800;
  color: white;
  border: none;
}
.chat_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff3e9;
  padding: 30px;
  border-radius: 30px;
  min-height: 70vh;
  margin-top: 30px;
  box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, 0.04);
}
.chat_list .title {
  text-align: center;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
}
.chat_list_card {
  height: 50px;
  line-height: 50px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  padding-left: 20px;
  align-items: center;
  box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, 0.04);
}
.chat_list_card:hover {
  background-color: #ffba7c;
}
.chat_list_card button {
  border: none;
  border-radius: 15px;
  padding: 0 20px;
  background-color: #ff7800;
  color: white;
  height: 40px;
  line-height: 40px;
}
@media screen and (max-width: 767px) {
  .chat_list_wrapper {
    font-size: 13px;
  }
}
