
.Home .recommend {
  margin-top: 30px;
}
.sub_nav {
  max-width: 580px;
  margin: 0 auto;
  width: 100%;
}
.sub_nav ul {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
  padding: 0;
  margin: 0;
}
.sub_nav ul li{
  text-align: center;
  max-width: 150px;
  width: 100%;
  margin: 0 auto
}
.sub_nav ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.sub_nav ul li img {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .sub_nav {
    font-size: 13px;
  }
  .sub_nav ul {
    gap: 15px
  }
}