.search_camping_card {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.search_camping_card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.search_camping_card .search_img_box {
  width: 150px;
  height: 100px;
  overflow: hidden;
  border-radius: 15px;
}
.search_camping_card .search_img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
.search_camping_card .search_camping_card_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
}
.search_camping_card .search_camping_card_info .name {
  font-weight: bold;
}
.search_camping_card .search_camping_card_info .addr {
  font-size: 14px;
  color: gray;
  background-image: url("/icon/ico_location.svg");
  background-repeat: no-repeat;
  padding-left: 20px;
}
.search_camping_card .search_camping_card_info .induty {
  font-size: 12px;
  background-color: #ffe7d5;
  color: #ff7600;
  padding: 5px 8px;
  border-radius: 5px;
  display: inline-block;
}
@media screen and (max-width: 375px) {
  .search_camping_card .search_img_box {
    width: 75px;
    height: 75px;
  }
}
