
.auth_form {
  position: relative;
  width: 100%;
  max-width: 1000px;
  background-color: rgb(255 207 169);
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  margin: 30px auto 50px;
}
.auth_form .auth_image_wapper {
  width: 50%;
  height: 100%;
  overflow: hidden;
  margin: auto
}
.auth_form .auth_image_wapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.auth_form .auth_input_wrapper {
  width: 50%;
  height: 100%;
  text-align: center;
  background: #ff811fab;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
}
.auth_form .auth_input_wrapper h4 {
  font-size: 20px;
  font-weight: 900;
  height: 40px;
}
.auth_form form {
  width: 100%;
}
.auth_form label {
  display: block;
  text-align: left;
}
.auth_form input {
  width: 100%;
  height: 40px;
  border: 1px solid white;
  border-radius: 5px;
  background: none;
  margin: 20px 0;
  padding-left: 10px;
  color: white;
}
.auth_form input::placeholder {
  color: rgba(255, 255, 255, 0.514);
}
.auth_form input:focus {
  outline: none;
}
.auth_form form button {
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 40px;
}
.auth_form form .auth_toggle_btn {
  background-color: #cc6407;
  color: white;
  margin-top: 10px;
}
.social_wrapper h5 {
  height: 40px;
}
.social_wrapper button {
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.kakao {
  background-image: url("/logo/kakao.png");
  transform: scale(0.8);
}
.google {
  background-image: url("/logo/google.png");
}
@media screen and (max-width: 767px) {
  .auth_form {
    flex-direction: column;
  }
  .auth_form .auth_image_wapper {
    position: absolute;
    width: 100%;
  }
  .auth_form .auth_input_wrapper {
    width: 100%;
    z-index: 5;
    backdrop-filter: blur(3px);
    padding: 30px 15px
  }
  .Home h2 {
    font-size: 14px;
    line-height: 26px;
  }
}
